[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

peewee = "*"
python-dotenv = "*"
pymysql = "*"
requests = "*"
"0cb21c3" = {file = "https://pypi.python.org/packages/source/A/Adafruit_Python_DHT/Adafruit_Python_DHT-1.1.2.tar.gz"}